@model IEnumerable<DatTiec.SANHCUOI>

@{
    ViewBag.Title = "showSC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card strpied-tabled-with-hover">
					<div class="card-header ">
						<h4 class="card-title">DANH SÁCH MÓN SẢNH CƯỚI</h4>
						<p class="card-category">@Html.ActionLink("Thêm sảnh cưới", "ThemSC")</p>

					</div>
					<div class="card-body table-full-width table-responsive">
						<table class="table table-hover table-striped">
							<thead>
							<th>Tên Sảnh</th>
							<th>Vị Trí</th>
							<th>Sức Chứa</th>
							<th>Số Bàn</th>
							<th>Giá Đặt</th>
							<th></th>
							</thead>
							<table class="table">

								@foreach (var item in Model)
								{
									<tr>
										
										<td>
											@Html.DisplayFor(modelItem => item.TENSANH)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.VITRI)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.SUCCHUA)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.SOBAN)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.GIADAT)
										</td>
										<td>
											
											@Html.ActionLink("Xóa", "XoaSC", new { id=item.MA_SC })
										</td>
									</tr>
								}

							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
